CommandsBot.spec
Pipfile
Pipfile.lock
.vscode/launch.json
.vscode/settings.json
__pycache__/CommandsBot.cpython-38.pyc
__pycache__/config.cpython-38.pyc
__pycache__/param_commandsBot.cpython-38.pyc
__pycache__/param_obsCommands.cpython-38.pyc
build/CommandsBot/Analysis-00.toc
build/CommandsBot/base_library.zip
build/CommandsBot/CommandsBot.exe.manifest
build/CommandsBot/EXE-00.toc
build/CommandsBot/PKG-00.pkg
build/CommandsBot/PKG-00.toc
build/CommandsBot/PYZ-00.pyz
build/CommandsBot/PYZ-00.toc
build/CommandsBot/warn-CommandsBot.txt
build/CommandsBot/xref-CommandsBot.html
v1.0.0/CommandsBot.py
v1.0.0/config.py
v1.0.0/param_commandsBot.py
v1.0.0/Readme.md
